{% extends 'base.html.twig' %}

{% block title %}Smash Test{% endblock %}

{% block body %}

<section class="articles">
{% for personnage in personnages %}
        <article>
            <h2> {{ personnage.nom }}</h2>
            <div class="content">
                <img src="{{ asset(personnage.image) }}" style="width:350px; height:200px;" alt="">
                <p> {{ personnage.description }} </p>
                <p> {{ personnage.game }} </p>
                <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
{% endfor %}
</section>


{% endblock %}
